<table class="table table-dark table-responsive">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Department</th>
      <th scope="col">salary</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of employeeData; let id=index">
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.designation}}</td>
      <td>{{data.department}}</td>
      <td>{{data.salary}}</td>
      <td class="text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-warning">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteEmployee(data.id)">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
