<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CRUD-APP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex justify-content-between">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-employee">Add Employee</button>
    </form>
  </div>
</nav>
<table class="table table-dark table-responsive">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Department</th>
      <th scope="col">salary</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of employeeData; let id=index">
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.designation}}</td>
      <td>{{data.department}}</td>
      <td>{{data.salary}}</td>
      <td class="text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-warning" (click)="updateEmployeeData(data)" data-bs-toggle="modal"
            data-bs-target="#add-employee">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteEmployee(data.id)">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="add-employee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addUpdateEmployeeData()">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input type="text" id="id" class="form-control" placeholder="Enter Id" value="" [(ngModel)]="newEmployees.id"
                  name="id" [readOnly]="isEditMode" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" class="form-control" placeholder="Enter Name"
                  [(ngModel)]="newEmployees.name" name="name" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="designation" class="form-label">Designation</label>
                <input type="text" id="designation" class="form-control" placeholder="Enter Designation"
                  [(ngModel)]="newEmployees.designation" name="designation" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="department" class="form-label">Department</label>
                <input type="text" id="department" class="form-control" placeholder="Enter Department"
                  [(ngModel)]="newEmployees.department" name="department" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="salary" class="form-label">Salary</label>
                <input type="number" id="salary" class="form-control" placeholder="Enter Salary"
                  [(ngModel)]="newEmployees.salary" name="salary" required />
              </div>
            </div>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">
              {{ isEditMode ? 'Update' : 'Add' }} Employee
            </button>
            <button type="button" class="btn btn-secondary" (click)="resetForm()" *ngIf="isEditMode">
              Cancel
            </button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
